<%- include("templates/header") %> 
    email address:
    <form action='/submitEmail' method='post'>
        <input name='email' type='text' placeholder='email'>
        <button class="btn btn-outline-primary">Submit</button>
    </form>
    <% if (missing) { %>
        <br> email is required
    <% } %>  
<%- include("templates/footer") %> 