<%- include("templates/header") %> 
    <h2>Create user</h2>
    <form action='/submitUser' method='post'>
    <input name='username' type='text' placeholder='username'></br>
    <input name='password' type='password' placeholder='password'></br>
    <button class="btn btn-outline-primary">Submit</button>
    </form>
<%- include("templates/footer") %> 