<%- include("templates/header") %> 
    <h2>Successfully logged in <%= username %>!</h2>
    <% if (RE == 0) { %>
    <img src="./RE1.jpg" style="width: 250px" />
    <% } else if (RE == 1) { %>
    <img src="./RE2.png" style="width: 250px" />
    <% } else if (RE == 2) { %>
    <img src="./RE3.jpg" style="width: 250px" />
    <% } %>
    <h2><a href="/logout">Log Out</a></h2>
<%- include("templates/footer") %> 
