<%- include("templates/header") %> 
    <h2>Log in</h2>
    <form action='/loggingin' method='post'>
    <input name='username' type='text' placeholder='username'></br>
    <input name='password' type='password' placeholder='password'></br>
    <button>Submit</button>
    </form>
    <h3 style='color:darkred;'>User not found</h3>
<%- include("templates/footer") %> 